<form>
  <div class="mb-3">
    <label for="inspectionTypeId" class="form-label">Inspection Type</label>
    <input type="select"  class="form-control" name="inspectionTypeId" [(ngModel)]="inspectionTypeId" *ngIf="inspection.id!=0" disabled>
    <select class="form-control" name="inspectionTypeId" id="inspectionTypeId" [(ngModel)]="inspectionTypeId"
      *ngIf="inspection.id==0" placeholder="Select from the option">
      <option *ngFor="let item of inspectionTypeList$|async" value="item.id">{{item.inspectionName}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="inspectionTypeId" class="form-label">Status</label>
    <select class="form-control" name="status" id="status" [(ngModel)]="status" placeholder="Select from the option">
      <option *ngFor="let item of inspectionStatusList$|async" value="item.statusOption">{{item.statusOption}}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="inspectionTypeId" class="form-label">Comments</label>
    <input type="text" class="form-control" name="comments" id="comments" placeholder="Write some comments">
  </div>
    <button class="btn btn-primary" type="submit" (click)="onSubmit()" *ngIf="!id">Add</button>
    <button class="btn btn-primary" type="submit" (click)="onSubmit()" *ngIf="id">>Update</button>
</form>
